h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

#bodyContainer {
    width: 750px;
    float: left;
}

#commentary {
    background-color: pink;
    padding: 10px;
    float: left;
    opacity: 0.7;
    border-radius: 10px;
    margin-top: 40px;
}

#infoSection {
    text-align: center;
}

#mainInfo {
}

#contactInfo {
    overflow: auto;
}

#contactInfo h3 {
    margin: 0px;
}

#localAddress {
    width: 30%;
    float: left;
}

#instantContact {
    float: left;
    width: 40%;
}

#permanantAddress {
    float: left;
    width: 30%;
}

.genericSection {
    padding-left: 10px;
    width: 90%;
    margin: auto;
}

.genericSection li {
    margin-bottom: 5px;
}

.subSectionTitle {
    font-weight: bold;
}

.relevantTitle {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 20px;
}

.relevantSubtitle {
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 0px;
}

.schoolListing ul {
    margin-top: 0px;
}

.selectedSection {
    border-left: solid black thick;
}

.commentaryChanger {
    background-color: pink;
    background-opacity: 0.8;
    border-radius: 2px;
    padding: 2px;
}
