h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

#bodyContainer {
    width: 750px;
}

#infoSection {
    text-align: center;
}

#mainInfo {
}

#contactInfo {
}

#contactInfo h3 {
    margin: 0px;
}

#localAddress {
    width: 30%;
    float: left;
}

#instantContact {
    float: left;
    width: 40%;
}

#permanantAddress {
    float: left;
    width: 30%;
}

.genericSection {
    width: 90%;
    margin: auto;
}

.genericSection li {
    margin-bottom: 5px;
}

.subSectionTitle {
    font-weight: bold;
}

.relevantTitle {
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 20px;
}

.relevantSubtitle {
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 0px;
}

.schoolListing ul {
    margin-top: 0px;
}
