h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

#bodyContainer {
    width: 800px;
}

#infoSection {
    text-align: center;
}

#mainInfo {
}

#contactInfo {
}

#contactInfo h3 {
    margin: 0px;
}

#localAddress {
    width: 33%;
    float: left;
}

#instantContact {
    float: left;
    width: 33%;
}

#permanantAddress {
    float: left;
    width: 33%;
}

.genericSection {
}

.subSectionTitle {
    font-weight: bold;
}
