h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

#completeContainer {
  width: 200%;
}

#resumeContainer{
    width: 750px;
    float: left;
}

#commentary {
    background-color: pink;
    font-family: Monaco, Arial, Verdana;
    font-size: 12px;
    padding: 10px;
    float: left;
    border-radius: 10px;
    margin: 40px 0px 0px 10px;
}

.commentaryChanger {
    background-color: pink;
    border-radius: 2px;
    font-family: Monaco;
    padding: 2px;
    font-size: 13px;
}

#infoSection {
    text-align: center;
}

#mainInfo {
}

#contactInfo {
    overflow: auto;
}

#contactInfo h3 {
    margin: 0px;
}

#localAddress {
    width: 30%;
    float: left;
}

#instantContact {
    float: left;
    width: 40%;
}

#permanantAddress {
    float: left;
    width: 30%;
}

.genericSection {
    padding-left: 10px;
    width: 90%;
    margin: auto;
}

.genericSection li {
    margin-bottom: 5px;
}

.subSectionTitle {
    font-weight: bold;
}

.relevantTitle {
    font-weight: bold;
    margin: 0px 0px 0px 20px;
}

.relevantSubtitle {
    margin: 0px 0px 0px 20px;
}

.schoolListing ul {
    margin-top: 0px;
}

.selectedSection {
    border-left: solid black thick;
}

h1.commentaryChanger {
  background-color: transparent;
  text-decoration: underline;
  font-size: 22px;
}

